.content-wrapper{
    display: inline-block;
}

.content-wrapper>img{
    width: 400px;
    height: 400px;
}

.action-button{
    width: 120px;
    height: 40px;
    background-color: #111;
    border: 1px solid #111;
    color: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 10%;
    margin: 5px 2px 10px;
    font-size: 18px;
    font-family: 'DigitalSansEFMedium';
}

button:active,
button:focus {
    outline: none;
}

.action-button:first-child {
    margin-left: 10px
}

.action-button:last-child {
    margin-right: 10px;
}

.action-button:hover {
    box-shadow: 0 0 10px 5px #0099FF;
}

.action-button:active {
    background-color: #444;
    border: 1px solid #444;
}

.heating-display,
.program-display,
.custom-display{
    text-align: center;
    background: black;
    opacity: 0.6;
    border: 2px solid #0099FF;
    border-radius: 10%;
    display: none;
}


.heating-display,
.program-display,
.custom-display {
  animation-duration: 1s;
}

.heating-display {
  animation-duration: 1s;
  animation-name: heating-slidein;
}

@keyframes heating-slidein {
  0% {
    width:0;
    height: 0;
  }

  50% {
    width: 302px;
    height: 0;

  }

  100% {
    width: 269px;
    height: 456px;
  }
}

.program-display {
  animation-duration: 1s;
  animation-name: program-slidein;
}

@keyframes program-slidein {
  0% {
    width:0;
    height: 0;
  }

  50% {
    width: 467px;
    height: 0;
  }

  100% {
    width: 467px;
    height: 445px;
  }
}

.custom-display {
  animation-duration: 1s;
  animation-name: custom-slidein;
}

@keyframes custom-slidein {
  0% {
    width:0;
    height: 0;
  }

  50% {
    width: 400px;
    height: 0;
  }

  100% {
    width: 400px;
    height: 294px;
  }
}


.program-display>button {
    cursor: pointer;
    border-radius: 10%;
    border: 2px solid #333;
    height: 50%;
    width: 50%;
    display: inline-block;;
    padding: 10px;
    margin: 10px;
    background: #00FFFF;
    font-family: 'DigitalSansEFMedium';
    font-size: 16px;
}

.heating-display>*,
.program-display>*,
.custom-display>*,
.done>*,
.cancel>* {
    animation-duration: 2s;
    animation-name: show;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

.program-display>button:hover {
    background: #FFFF33;
}

#set-program-display {
    text-align: center;
    background: black;
    opacity: 0.6;
    border: 2px solid #0099FF;
    border-radius: 10%;
    display: none;
    width: 445px;
    height: 467px;
}

.main.multi {
    margin-top: 30px;
    margin-bottom: 30px;
}

.status{
    width: 100px;
    height: 100px;
    margin: 10px;
    vertical-align: bottom;
    background: none;
    border: none;
}

.status>img{
 width: 100px;
 height: 100px
}


#cookingNow{
    color: white;
    font-size: 60px;
    padding: 9px;
}

.play{
    display: none;
    width: 100px;
    height: 100px;
    background: none;
    border: none;
}

#timer{
    height: 100px;
    padding: 5px;
    margin-top: 55px;
    margin: 55px auto auto;
}

.timer{
    width: 30px;
    height: 55px;
    -webkit-animation: timer 5s infinite linear;
    -moz-animation: timer 5s infinite linear;
    -ms-animation: timer 5s infinite linear;
    -o-animation: timer 5s infinite linear;
    animation: timer 5s infinite linear;
    display: inline-block;
}

.stop-animation{
    width: 30px;
    height: 55px;
    display: inline-block;
}

@keyframes timer {
    10% { transform: rotate(0deg); }
    40% { transform: rotate(180deg); }
    60% { transform: rotate(180deg); }
    90% { transform: rotate(0deg); }
}


.content{
    text-align: center;
}

#heat-time-sec,
#cook-time-sec {
    color: white;
    display: inline-block;
    font-size: 80px;
    font-size: 60px;
    vertical-align: super;
    margin: 15px 15px;
}

.none{
    display: none;
}

.inline-block{
    display: inline-block;
    margin: 10px;
    vertical-align: bottom;
    background: none;
    border: none;
}
.inline-block>img{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.done{
    display: none;
    color: white;
    font-size: 80px;
    text-align: center;
    display: none;
    font-size: 50px;
    background: black;
    opacity: 0.6;
    border: 2px solid #0099FF;
    border-radius: 10%;
    vertical-align: super;
    width: 300px;
}

.done>img{
    width: 100%;
    display: inline-block;
}

.done {
  animation-duration: 1s;
  animation-name: done-slidein;
}

@keyframes done-slidein {
  0% {
    width:0;
    height: 0;
  }

  50% {
    width: 300px;
    height: 0;

  }

  100% {
    width: 300px;
    height: 372px;
  }
}


.heating-display{
    display: none;
    font-size: 50px;
    text-align: center;
    color: white;
    background: black;
    opacity: 0.6;
    border: 2px solid #0099FF;
    border-radius: 10%;
    text-align: left;
    vertical-align: super;
}

.heating-display>img{
    display: inline-block;
    height: 80px;
    margin: 5px 20px 10px 20px;
}
.heating-display>img:first-child{
    margin-top: 20px;
}

.p-temperature {
    display: inline-block;
    vertical-align: top;
    margin: 30px 0px;
    width: 120px;
}

#stop-heat{
    display: inline-block;
    margin-left: calc(50% - 50px);
}

.img-clock{
    margin-left: -5px;
}

.p-clock{
    display: inline-block;
    vertical-align: top;
    margin: 20px 0px;
    width: 120px;
}
.cancel{
    display: none;
    color: white;
    font-size: 80px;
    text-align: center;
    display: none;
    font-size: 50px;
    background: black;
    opacity: 0.6;
    border: 2px solid #0099FF;
    border-radius: 10%;
    vertical-align: super;
    width: 300px;
}

.cancel>img{
    width: 100%;
    display: inline-block;
}

.cancel {
  animation-duration: 1s;
  animation-name: cancel-slidein;
}

@keyframes cancel-slidein {
  0% {
    width:0;
    height: 0;
  }

  50% {
    width: 300px;
    height: 0;

  }

  100% {
    width: 300px;
    height: 372px;
  }
}


.start {
    width: 100px;
    height: 50px;
    background-color: #FF0000;
    border: 3px solid white;
    border: none;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    margin: 0 0 20px 90px;

}
.reset {
    width: 100px;
    height: 50px;
    background-color: green;
    border: 3px solid white;
    border: none;
    color: white;
    font-size: 25px;
    border-radius: 10px;

}




.custom-display{
    display: none;
    font-size: 50px;
    text-align: center;
    color: white;
    background: black;
    opacity: 0.6;
    border: 2px solid #0099FF;
    border-radius: 10%;
    text-align: left;
    vertical-align: super;
    width: 400px;
}

.custom-display>img{
    display: inline-block;
    height: 80px;
    margin: 5px 10px 10px 20px;
}
.custom-display>img:first-child{
    margin-top: 20px;
}


.img-clock{
    margin-left: -5px;
    display: inline-block;
}

.more,
.less{
    border: none;
    background: none;
    display: inline-block;

}

.more>img,
.less>img{
    width: 40px;
    height: 40px;
    display: inline-block;
}


.set-temperature,
.set-clock{
    display: inline-block;
    margin-top: 0px;
    width: 110px;
    text-align: center;
}
.set-temperature{
    padding: 0 10px;
    width: 150px;
}

.set-clock{
    width: 150px;
}


div.p-clock,
div.p-temperature{
    margin: 20px 0;
    width: 250px;
}


#clock1{
    width: 80px;
    height: 70px;
}


.div-temperature {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0px;
    width: 250px;
}
.div-clock{
    display: inline-block;
    vertical-align: top;
    margin: 20px 0px;
    width: 250px;
}

.custom-display-process{
    display: none;
    font-size: 50px;
    text-align: center;
    color: white;
    background: black;
    opacity: 0.6;
    border: 2px solid #0099FF;
    border-radius: 10%;
    text-align: left;
    vertical-align: super;
    width: 400px;
}

.custom-display-process>p{
    padding: 15px;
    text-align: center;
}

#custom-time-sec{
    display: inline-block;
}

#timer2{
    height: 100px;
    padding: 5px;
    margin-top: 55px;
    margin: 55px auto auto 70px;
}

#timer2-custom-program{
    margin: 40px 70px;
}

.custom-display-process>button{
    margin: 0px 45px;
}

.custom-display-process button:hover,
.heating-display button:hover,
#set-program-display button:hover,
.custom-display button:hover{
    cursor: pointer;
}


.par-img{
   position: absolute;
   animation-duration: 2s;
   animation-name: move-par;
   animation-iteration-count: infinite;
   display: inline-block;
}


#par{
   position: absolute;
   top: 0;
   opacity: 0;
}


@keyframes move-par {
  0% {
    opacity: 0;
    top:0px;

  }

  80% {
    opacity: 1;
    top:-150px;

  }

  100% {
    opacity: 0;
    top:-150px;
  }
}
