body {
  margin: 0;
  color: #000;
  font: 11px Arial, Helvetica, sans-serif;
  background: #000308;
}
img {
  border-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}
input,
textarea,
select {
  font: 100% arial, sans-serif;
  vertical-align: middle;
}
form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}
ul {
  list-style: none;
}
header,
footer,
article,
section,
hgroup,
nav,
figure {
  display: block;
}
#wrapper {
  margin: 0 auto;
  width: 100%;
  position: relative;
  background: url(../images/bg-blue-1.jpg) repeat;
}
#locked {
  display: none;
}
#main {
  overflow: hidden;
}
.block {
  width: 70%;
  margin: 50px auto 0;
  overflow: hidden;
  min-height: 300px;
}
.block h2 {
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.password-block {
  width: 100%;
  text-align: center;
  vertical-align: top;
  position: relative;
}
.garage-block {
  width: 100%;
  vertical-align: top;
  text-align: center;
  margin-top: 3%;
}
.garage-button {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 65px;
  background: #000;
  border: 2px solid #008BDE;
  color: #008BDE;
}
.camera-block {
  width: 100%;
  position: relative;
}
.set-password-block {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 30px;
  padding: 15%;
  text-align: center;
/*  background: rgba(0, 0, 0, 0.4);*/
}
.camera-object,
.garage-object {
  display: block;
}
.video-container {
  width: 30%;
  height: 160px;
  display: inline-block;
  position: relative;
  margin: 2% 5%;
  vertical-align: top;
}
.screen {
  width: 100%;
  height: 100%;
  border: 5px solid #6bc4f6;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 5px #000;
}
.camera-block video {
  width: 100%;
}
.camera-block button {
  border: 1px solid #008BDE;
  text-decoration: none;
  display: inline-block;
  background: none;
  color: #0099FF;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 2px solid #000;
  box-shadow: 0 0 10px 5px #000;
  font-size: 26px;
  position: absolute;
  bottom: 19%;
  right: -73px;
}
.camera-block button:hover {
  box-shadow: 0 0 10px 5px #0099FF;
  border-color: #0099FF;
}
.camera-block button:active {
  background: #7CB4B9;
  color: #000;
}
#new-camera {
  font-size: 14px;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 10px;
  top: 100px;
  border-color: #0099FF;
}
#full-screen-btn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
#full-screen-btn img {
  width: 100%;
}
:-webkit-full-screen .camera-block {
  width: 100%!important;
  background: #000;
}
:-moz-full-screen .camera-block {
  width: 100%;
}
.full-screen-camera-block {
  width: 100%;
  height: 100%;
  background: #003046;
}
.full-screen-camera-block .camera-object,
.full-screen-camera-block #new-camera {
  display: none;
}
.full-screen-camera-block .video-container {
  width: 40%;
  float: left;
  height: 40%;
}
.full-screen-camera-block #video-btn li {
  width: 50%;
  height: 80px;
  font-size: 30px;
}
.full-screen-camera-block #video-btn li a {
  line-height: 80px;
}
.garage {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  height: 200px;
  border: 4px solid #7CB4B9;
}
.garage-gates {
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aebcbf+0,0a0e0a+4,aebcbf+7,0a0e0a+10,aebcbf+13,0a0e0a+16,aebcbf+19,0a0e0a+22,aebcbf+25,0a0e0a+28,aebcbf+31,0a0e0a+34,aebcbf+37,0a0e0a+40,aebcbf+43,0a0e0a+46,aebcbf+49,0a0e0a+52,aebcbf+55,0a0e0a+58,aebcbf+61,0a0e0a+64,aebcbf+67,0a0e0a+70,aebcbf+73,0a0809+76,aebcbf+79,0a0809+82,aebcbf+85,0a0809+88,aebcbf+91,0a0809+94,aebcbf+97,0a0809+100 */
  background: #aebcbf;
  /* Old browsers */
  background: -moz-linear-gradient(top, #aebcbf 0%, #0a0e0a 4%, #aebcbf 7%, #0a0e0a 10%, #aebcbf 13%, #0a0e0a 16%, #aebcbf 19%, #0a0e0a 22%, #aebcbf 25%, #0a0e0a 28%, #aebcbf 31%, #0a0e0a 34%, #aebcbf 37%, #0a0e0a 40%, #aebcbf 43%, #0a0e0a 46%, #aebcbf 49%, #0a0e0a 52%, #aebcbf 55%, #0a0e0a 58%, #aebcbf 61%, #0a0e0a 64%, #aebcbf 67%, #0a0e0a 70%, #aebcbf 73%, #0a0809 76%, #aebcbf 79%, #0a0809 82%, #aebcbf 85%, #0a0809 88%, #aebcbf 91%, #0a0809 94%, #aebcbf 97%, #0a0809 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #aebcbf 0%, #0a0e0a 4%, #aebcbf 7%, #0a0e0a 10%, #aebcbf 13%, #0a0e0a 16%, #aebcbf 19%, #0a0e0a 22%, #aebcbf 25%, #0a0e0a 28%, #aebcbf 31%, #0a0e0a 34%, #aebcbf 37%, #0a0e0a 40%, #aebcbf 43%, #0a0e0a 46%, #aebcbf 49%, #0a0e0a 52%, #aebcbf 55%, #0a0e0a 58%, #aebcbf 61%, #0a0e0a 64%, #aebcbf 67%, #0a0e0a 70%, #aebcbf 73%, #0a0809 76%, #aebcbf 79%, #0a0809 82%, #aebcbf 85%, #0a0809 88%, #aebcbf 91%, #0a0809 94%, #aebcbf 97%, #0a0809 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #aebcbf 0%, #0a0e0a 4%, #aebcbf 7%, #0a0e0a 10%, #aebcbf 13%, #0a0e0a 16%, #aebcbf 19%, #0a0e0a 22%, #aebcbf 25%, #0a0e0a 28%, #aebcbf 31%, #0a0e0a 34%, #aebcbf 37%, #0a0e0a 40%, #aebcbf 43%, #0a0e0a 46%, #aebcbf 49%, #0a0e0a 52%, #aebcbf 55%, #0a0e0a 58%, #aebcbf 61%, #0a0e0a 64%, #aebcbf 67%, #0a0e0a 70%, #aebcbf 73%, #0a0809 76%, #aebcbf 79%, #0a0809 82%, #aebcbf 85%, #0a0809 88%, #aebcbf 91%, #0a0809 94%, #aebcbf 97%, #0a0809 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aebcbf', endColorstr='#0a0809', GradientType=0);
  /* IE6-9 */
}
.garage-gates {
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.open-gates {
  animation-name: slide-up;
}
.close-gates {
  animation-name: slide-down;
}
@keyframes slide-up {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}
@keyframes slide-down {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
.garage form {
  text-align: center;
}
#garage-btn {
  margin: 20px auto;
  font-size: 14px;
  background: #000;
  color: #008BDE;
  height: 40px;
  width: 100px;
  border: 1px solid #008BDE;
  display: block;
  padding: 10px;
  text-align: center;
}
.password-form {
  margin: 20px auto;
}
.password-table {
  margin: 20px auto 10px;
}
.password-table tr td {
  width: 80px;
  height: 40px;
  background: #000;
  border: 1px solid #008BDE;
  color: #008BDE;
  text-align: center;
  font-size: 20px;
}
.password-table tr td:hover {
  color: #000;
  background: #7CB4B9;
}
.password-form {
  margin: 20px;
}
input[type=password] {
  outline: none;
  background: #000;
  color: #fff;
  border: 1px solid #008BDE;
  height: 30px;
  margin: 0 40px;
  padding: 0 10px;
  width: 240px;
}
input[type=submit],
input[type=button] {
  background: #000;
  color: #008BDE;
  height: 30px;
  width: 80px;
  border: 1px solid #008BDE;
  margin: 0 30px;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}
input[type=button] {
  height: 40px;
  width: 100px;
  border: 2px solid #008BDE;
  border-radius: 10px;
}
input[type=submit] {
  height: 40px;
  width: 100px;
}
input[type=button]:hover,
input[type=submit]:hover {
  box-shadow: 0 0 10px 5px #0099FF;
}
form #set-password {
  text-align: center;
}
#set-password {
  font-size: 12px;
  width: 110px;
  margin: 10px;
}
#change-password {
  font-size: 16px;
  width: 70px;
  height: 70px;
  margin: 10px;
  position: absolute;
  top: 35%;
  right: 12%;
  border-radius: 50%;
  background: none;
  border: 2px solid #000;
  box-shadow: 0 0 10px 5px #000;
}
#change-password:hover {
  box-shadow: 0 0 10px 5px #0099FF;
}
#change-password:active {
  box-shadow: none;
}
object {
  margin: 20px 0;
  margin-right: 10%;
  padding: 20px;
  border: 2px solid #000;
  box-shadow: 0 0 10px 5px #000;
  border-radius: 50%;
  cursor: pointer;
}
object:hover {
  box-shadow: 0 0 10px 5px #0099FF;
}
object:active {
  box-shadow: none;
}
.hide {
  display: none!important;
}
.tab-content {
  display: none;
}
.close-garage-warning-block,
.wrong-password-block,
.camera-form-block {
  display: none;
  position: absolute;
  top: 0;
  right: 20%;
  bottom: 0;
  left: 20%;
  background: rgba(0, 0, 0, 0.6);
}
.camera-form-block h3 {
  color: #fff;
  text-align: center;
  font-size: 26px;
  padding: 100px 0 0 0;
  margin: 0;
  position: relative;
}
.close-garage-warning,
.wrong-password,
.camera-form {
  width: 40%;
  height: 100px;
  color: #fff;
  margin: 20% auto;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
.camera-form {
  margin: 5% auto;
}
.camera-form input {
  margin: 10px auto;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.show {
  display: block;
  z-index: 99999;
}
.camera-block .remove-video-btn {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 14px;
  top: 10px;
  right: -30px;
}
.remove-camera-form-block-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 26px;
  background: none;
  color: #0099FF;
  border: none;
}
/*# sourceMappingURL=security.css.map */
