input,
button {
    font-family: 'DigitalSansEFMedium';
}

button:hover {
    cursor: pointer;
}

.width-50 {
    width: 50%;
}

.width-25 {
    width: 25%;
}

.svg-elem.big {
    max-width: 1000px;
}

.svg-elem.big path {
    fill-opacity: 0;
    fill: #1faeff;
    stroke: #6bc4f6;
    stroke-width: 100;
    stroke-dasharray: 40000;
    stroke-dashoffset: 40000;
    animation: draw 1s 1s 1 linear forwards, show .5s 1.5s 1 linear forwards;
}

.form,
.indicators {
    color: #fff;
}

.submit {
    background: #1faeff;
}

.input-field,
.output-field,
.submit {
    display: block;
    width: 75%;
    margin: 15px auto;
    color: #fff;
}

.output,
.input,
.submit {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.output,
.input {
    background: #fff;
    color: #000;
}

.notifications {
    background: #fff;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 100%;
    color: #000;
    text-align: center;
}

.notifications-title {
    font-size: 25px;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show {
    to {
        fill-opacity: 1;
    }
}

.outer-progress-bar {
    position: relative;
    width: 100%;
    height: 35px;
    border: 5px solid #6bc4f6;
    border-radius: 25px;
    overflow: hidden;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #F54D4D;
}

.percentage {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 1;
    color: #fff;
}

.modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 10;
}

.modal-body {
    position: fixed;
    width: 500px;
    height: 0;
    min-height: 300px;
    left: calc(50% - 250px);
    top: 20%;
    background: #fff;
    border-radius: 15px;
    font-size: 30px;
}

.modal-message {
    padding-top: 50px;
    text-align: center;
}

.modal-message.frozen {
    color: #1faeff;
}

.modal-message.unfrozen {
    color: #ff0000;
}

.modal-header {
    text-align: right;
    padding: 0 15px;
}

.close {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}
